.contact-forum {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(220, 36, 36);
}

.short-input, #email-message, #email-send-button {
  font-size: 25px;
  color: rgb(59, 59, 59);
  font-weight: 600;
  margin-bottom: 10px;
}

.short-input {
  margin-bottom: 25px;
  border-style: none;
  width: 500px;
  height: 75px;
  border-radius: 250px;
  outline: none;
  padding: 10px 50px;

  transition: border 0.25s, box-shadow 0.25s;
}

.short-input:focus {
  border: 5px solid var(--main-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#email-message {
  width: 500px;
  margin-bottom: 50px;
  border-radius: 10px;
  outline: none;
  padding: 50px;
  
  transition: border 0.25s, box-shadow 0.25s;
}

#email-message:focus {
  border: 5px solid var(--main-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#email-send-button {
  border-style: none;
  width: 550px;
  height: 80px;
  margin-bottom: 100px;
  border-radius: 275px;
  background-color: var(--main-color);
  color: white;
 
  cursor: pointer;

  transition: width 0.25s, box-shadow 0.25s,
   opacity 0.1s;
}

#email-send-button:active {
  opacity: 0.8;
}

#email-send-button:hover {
  width: 600px;
  box-shadow: 0 0 10px rgb(0, 0, 0)
}