#screen-solid {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: black;
  opacity: 0;
  z-index: -1;
}

#work-minimized-container {
  display: grid;
  margin: 150px 0;
  padding-left: 50px;
  row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.work-minimized {
  display: inline-flex;
  flex-direction: column;
  width: 400px;
  border-radius: 30px;

  cursor: pointer;

  transition: margin 0.3s, box-shadow 0.3s;
}

.work-minimized:hover {
  margin: 10px;
  box-shadow: 0 0 10px var(--main-color);
}

.work-minimized-image {
  width: 400px;
  border-radius: 10px;
}

.work-minimized-middle-row {
  display: inline-flex;
  align-items: center;
}

.work-minimized-title {
  color: var(--third-color);
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.work-minimized-project {
  color: var(--third-color);
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.work-minimized-date {
  color: gray;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

@media (min-width: 1850px) and (max-width: 2300px)
{
  .work-minimized-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) and (max-width: 1849px)
{
  .work-minimized-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 800px) and (max-width: 1399px)
{
  .work-minimized-container {
    grid-template-columns: 1fr 1fr;
  }
}