:root {
  --main-color: rgb(75, 171, 255);
  --secondary-color: rgb(58, 58, 58);
  --third-color: white;
  --fourth-color: rgb(62, 62, 62);
}

.nav-bar {
  background-color:var(--secondary-color);
  z-index: 1;
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  height: 75px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.home-container, .about-me-container, .my-work-container,
 .contact-container {
  margin: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  transition: box-shadow 0.25s;
}

.home-container {
  flex: 1;
  position: relative;
}

.home-container:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);

  .home-text {
    font-size: 40px;
  }

  .home-icon {
    width: 60px;
  }
}

.home-text, .about-me-text, .my-work-text, .contact-text {
  color: var(--third-color);
  font-weight: 600;
  font-size: 30px;

  transition: font-size 0.25s;
}

.contact-text {
  font-size: 25px;
}

.home-icon, .about-me-icon, .my-work-icon, .contact-icon {
  width: 50px;
  
  transition: width 0.25s;
}

.about-me-container {
  flex: 1;
}

.about-me-container:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);

  .about-me-text {
    font-size: 40px;
  }

  .about-me-icon {
    width: 60px;
  }
}

.my-work-container {
  flex: 1;
}

.my-work-container:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);

  .my-work-text {
    font-size: 40px;
  }

  .my-work-icon {
    width: 60px;
  }
}

.contact-container {
  flex: 1;
  margin-right: 100px;
}

.contact-container:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);

  .contact-text {
    font-size: 30px;
  }

  .contact-icon {
    width: 80px;
  }
}

.contact-icon {
  width: 70px;
}

@media (max-width: 1500px) {
  .home-text, .about-me-text, .my-work-text, .contact-text {
    opacity: 0;
    position: absolute;
  }
}